* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login__conteiner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, blue,skyblue);
  background-size: cover;
  position: relative;
  z-index: 10; 
}

.login__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 500px;
  position: relative;
  border-radius: 32px;
}
.login__img__container {
  width: 150px;
  position: relative;
}
.login__img__container::after {
  content: "";
  position: absolute;
  top: -7%;
  left: 50%;
  width: 100%;
  height: 100%;
  
  transform: translateX(-50%);
  z-index: 20;
 background: url(./imgs/deco.svg) no-repeat center;
 
 
}
.login__img__container img {
  width: 100%;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: 30;
}

.login__form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 30%;
}
.login__form__container form {
  width: 90%;
}
.login__form__container div {
  width: 100%;
  /* clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%, 15% 0);   */
  margin-bottom: 2px;
  position: relative;
  z-index: 30;
}

.form__email,
.form__pass,
.form__btn {  
  height: 30px;
  border: none;
  border: 2px solid;
  border-color: #ffffff transparent #ffffff transparent;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__email::after,
.form__pass::after,
.form__btn::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-color: #fdfdfd rgb(255, 255, 255) transparent transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form__email::before,
.form__pass::before,
.form__btn::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-color: transparent transparent #ffffff rgb(255, 255, 255);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form__email label,
.form__pass label {
  margin-left: 10%;
  color: #ffffff;
}
.form__email input,
.form__pass input {
  background: transparent;
  border: none;
  width: 100%;
  color: #fdfdfd;
}

.form__btn {
  margin-top: 20px;
  height: 30px;
}
.form__btn button {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
}
