* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.login__conteiner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #245ebc, #7730b8);
  position: relative;
  z-index: 10;
}

.login__content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  position: relative; 
}

.login__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 20px 0;
  color: #fff;  
}
.login__title i{
  font-size: 32px;
  color: #fff;
}

.login__form__container {
  padding-left: 8%;
  background: url(./imgs/top.svg) no-repeat center;
  align-items: center;
  width: 100%;
  height: 356px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.login__form__container form {
  width: 70%;
  padding-top: 40px;
}
.login__form__container div {
  width: 90%;
  margin-bottom: 20px;
  position: relative;
  z-index: 30;
}

.form__email,
.form__pass {
  height: 40px;
  border: none;
  border: 2px solid;
  border-color: #232323 transparent #232323 transparent;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__email::after,
.form__pass::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -15px;
  width: 26px;
  height: 26px;
  border: 2px solid;
  border-color: #232323 #232323 transparent transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form__email::before,
.form__pass::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -15px;
  width: 26px;
  height: 26px;
  border: 2px solid;
  border-color: transparent transparent #232323 #232323;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form__email label,
.form__pass label {
  margin-left: 10%;
  color: #232323;
}
.form__email input,
.form__pass input {
  background: transparent;
  border: none;
  width: 100%;
  color: #232323;
}
.form__passs {
  font-size: 10px;
  color: blue;
  text-align: end;
  margin-right: 50px;
  cursor: pointer;
}
form .form__btn {
  margin-top: 100px;
  margin-right: 5%;
  margin-left: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__btn button {
  border: none;
  background: linear-gradient(90deg, #245ebc, #7730b8);
  cursor: pointer;
  font-size: 20px;
  width: 110%;
  height: 110%;
  color: #fff;
}
/* *** */

.login__form__auth {
  width: 100%;
  height: 170px;
  position: relative;
  bottom: 60px;
  
  background: url(./imgs/down.svg) no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__auth__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;  
  font-size: 12px;
  gap: 5px;
  padding-top: 20px;
}
.form__auth__title span:nth-child(1){
  text-transform: uppercase;
}

.form__auth__social{
cursor: pointer;
font-size: 30px;
}
.form__auth__social i:nth-child(1){
  color: #D13F2B;
}

.form__auth__social i:nth-child(2){
  color:#4387F1;
}
.login__form__sign{
  text-align: center;
  position: relative;
  bottom: 40px;
  font-size: 14px;
}
.form__sign--strong{
  text-decoration: underline;
  cursor: pointer;
}

/* ********** */
.sign__form__container form {
  padding-top: 40px;
}
.terms{
font-size: 12px;
}

form .sign{
  margin-top: 39px;
}